/* Write your CSS code here. */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  min-height: 100vh;
}
.card-container {
  background-color: #ffffff;
  border-radius: 15px;
  border: 0px;
  padding: 20px;
}

.emojis-container {
}
.heading-emojis {
  font-size: 20px;
  margin-top: 30px;
}
.feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji-button {
  background-color: transparent;
  border: 0px;
}
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji-img {
  width: 100px;
}
.love-img {
  width: 100px;
}
.heading {
  font-size: 20px;
}
.para {
  font-size: 12px;
}
